In [1]:
print('\nEnabling interactive shell outputs ...')
print('   Use command pass; to disable cell text outputs')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.filterwarnings('ignore') 
warnings.simplefilter(action="ignore",category=UserWarning)
warnings.simplefilter(action="ignore",category=FutureWarning)

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_formats = {'png', 'retina'}

Enabling interactive shell outputs ...
   Use command pass; to disable cell text outputs

### In-Class Activity L8-1: Instructor and School Learning Scores

In [2]:
df = pd.read_excel('data/score.xlsx')
df

    Score  School  Instructor  Session
0      25       1           1        1
1      29       1           1        2
2      14       1           2        1
3      11       1           2        2
4      11       2           1        1
5       6       2           1        2
6      22       2           2        1
7      18       2           2        2
8      17       3           1        1
9      20       3           1        2
10      5       3           2        1
11      2       3           2        2

In [11]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

formula = 'Score ~ C(School) + C(Instructor) + C(School):C(Instructor)'
score_lm = ols(formula, data=df).fit()

In [12]:
score_lm.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                          Results: Ordinary least squares
====================================================================================
Model:                      OLS                    Adj. R-squared:           0.899
Dependent Variable:         Score                  AIC:                      61.0877
Date:                       2021-10-28 09:55       BIC:                      63.9971
No. Observations:           12                     Log-Likelihood:           -24.544
Df Model:                   5                      F-statistic:              20.69
Df Residuals:               6                      Prob (F-statistic):       0.00102
R-squared:                  0.945                  Scale:                    7.0000
------------------------------------------------------------------------------------
                                   Coef.   Std.Err.    t    P>|t|   [0.025   0.975]
------------------------------------------------------------------------------------
Intercept                          27.0000   1.8708 14.4321 0.0000  22.4222  31.5778
C(School)[T.2]                    -18.5000   2.6458 -6.9923 0.0004 -24.9739 -12.0261
C(School)[T.3]                     -8.5000   2.6458 -3.2127 0.0183 -14.9739  -2.0261
C(Instructor)[T.2]                -14.5000   2.6458 -5.4805 0.0015 -20.9739  -8.0261
C(School)[T.2]:C(Instructor)[T.2]  26.0000   3.7417  6.9488 0.0004  16.8445  35.1555
C(School)[T.3]:C(Instructor)[T.2]  -0.5000   3.7417 -0.1336 0.8981  -9.6555   8.6555
------------------------------------------------------------------------------------
Omnibus:                     9.957              Durbin-Watson:                 2.875
Prob(Omnibus):               0.007              Jarque-Bera (JB):              1.668
Skew:                        0.000              Prob(JB):                      0.434
Kurtosis:                    1.173              Condition No.:                 10
====================================================================================

"""

In [13]:
table = sm.stats.anova_lm(score_lm) 
print(table)

                          df  sum_sq  mean_sq          F    PR(>F)
C(School)                2.0   156.5    78.25  11.178571  0.009473
C(Instructor)            1.0   108.0   108.00  15.428571  0.007731
C(School):C(Instructor)  2.0   459.5   229.75  32.821429  0.000587
Residual                 6.0    42.0     7.00        NaN       NaN

In [32]:
SS = 108.0 + 459.5

In [33]:
(567.5/3)/7

27.023809523809522

In [16]:
from scipy import stats

stats.f.sf((567.5/3)/7,3,6)

0.0006970134862605147

### In-Class Activity L8-2: Variance Component in Nested Design

In [39]:
Sigma = (7.769-2.639)/3
Sigma

1.7100000000000002

95% confidence

In [40]:
n = 3

In [41]:
df = (((7.769/n)-(2.639/n))**2)/((((7.769/n)**2)/9)+(((2.639/n)**2)/24))
df

3.7614091069612767

In [46]:
df = 3
print((df*Sigma)/stats.chi2.isf(0.05/2,df))
print((df*Sigma)/stats.chi2.isf(1-(0.05/2),df))

0.5487567949604476
23.772530787621054

In [ ]:
variance component ของ supplier = 3.76