<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#OLS-Regression" data-toc-modified-id="OLS-Regression-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>OLS Regression</a></span></li><li><span><a href="#Your-Turn----Activity-I:-Murder-rate-model" data-toc-modified-id="Your-Turn----Activity-I:-Murder-rate-model-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Your Turn -- Activity I: Murder rate model</a></span></li><li><span><a href="#Your-Turn----Activity-II:-Partial-F-Test" data-toc-modified-id="Your-Turn----Activity-II:-Partial-F-Test-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Your Turn -- Activity II: Partial F-Test</a></span></li></ul></div>

## OLS Regression

In [35]:
print('\nEnabling interactive shell outputs ...')
print('   Use command pass; to disable cell text outputs')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.filterwarnings('ignore') 
warnings.simplefilter(action="ignore",category=UserWarning)
warnings.simplefilter(action="ignore",category=FutureWarning)

Enabling interactive shell outputs ...
   Use command pass; to disable cell text outputs

In [36]:
import pandas as pd
import numpy as np

vis_df = pd.read_excel('data/lect02-lin-reg.xlsx', 
                       sheet_name='Viscosity', header=0)

In [37]:
vis_df

    Temperature  Catalyst  Viscosity
0            80         8       2256
1            93         9       2340
2           100        10       2426
3            82        12       2293
4            90        11       2330
5            99         8       2368
6            81         8       2250
7            96        10       2409
8            94        12       2364
9            93        11       2379
10           97        13       2440
11           95        11       2364
12          100         8       2404
13           85        12       2317
14           86         9       2309
15           87        12       2328

In [38]:
import statsmodels.api as sm

Y = vis_df.Viscosity
X = vis_df.drop('Viscosity', axis=1)
Xreg = sm.add_constant(X)

In [39]:
print(Y)
print(X)
print(Xreg)

0     2256
1     2340
2     2426
3     2293
4     2330
5     2368
6     2250
7     2409
8     2364
9     2379
10    2440
11    2364
12    2404
13    2317
14    2309
15    2328
Name: Viscosity, dtype: int64
    Temperature  Catalyst
0            80         8
1            93         9
2           100        10
3            82        12
4            90        11
5            99         8
6            81         8
7            96        10
8            94        12
9            93        11
10           97        13
11           95        11
12          100         8
13           85        12
14           86         9
15           87        12
    const  Temperature  Catalyst
0     1.0           80         8
1     1.0           93         9
2     1.0          100        10
3     1.0           82        12
4     1.0           90        11
5     1.0           99         8
6     1.0           81         8
7     1.0           96        10
8     1.0           94        12
9     1.0           93        11
10    1.0           97        13
11    1.0           95        11
12    1.0          100         8
13    1.0           85        12
14    1.0           86         9
15    1.0           87        12

In [40]:
# Fit by using API
vis_lm = sm.OLS(Y, Xreg).fit()

In [41]:
print("Coefficients: ")
vis_lm.params

Coefficients:

const          1566.077771
Temperature       7.621290
Catalyst          8.584846
dtype: float64

In [42]:
# Fit by using formula
from statsmodels.formula.api import ols

formula = 'Viscosity ~ Temperature + Catalyst'
#formula = 'Viscosity ~ Temperature + Catalyst - 1'

vis_lm = ols(formula, data=vis_df).fit()

In [43]:
# Making prediction

Xk = X.iloc[[5],:]  # Get row 6 (as dataframe) 
print(Xk)

Xreg_k = sm.add_constant(Xk, has_constant='add') 
print(Xreg_k)

Yk = np.array(vis_lm.predict(exog=Xreg_k))
Yk

   Temperature  Catalyst
5           99         8
   const  Temperature  Catalyst
5    1.0           99         8

array([2389.26425611])

In [44]:
print("Sum of Squared Errors (SSE): {:.2f}".format(vis_lm.ssr)) # Sum of Squares Residuals
print("Sum of Squared Regression (SSR): {:.2f}".format(vis_lm.ess)) # Explained sum of squares
print("Sum of Squared Total (SST): {:.2f}".format(vis_lm.centered_tss)) # Total sum of squares
print("Residual df (n-p): {:.0f}".format(vis_lm.df_resid))
print("Mean Squared errors (MSE): {:.2f}".format(vis_lm.mse_resid))
print("Standard Errors (Se): {:.2f}".format(np.sqrt(vis_lm.mse_resid)))

Sum of Squared Errors (SSE): 3478.85
Sum of Squared Regression (SSR): 44157.09
Sum of Squared Total (SST): 47635.94
Residual df (n-p): 13
Mean Squared errors (MSE): 267.60
Standard Errors (Se): 16.36

In [45]:
print("R-squared: {:.3f}".format(vis_lm.rsquared))
print("Adjusted R-squared: {:.3f}".format(vis_lm.rsquared_adj))

R-squared: 0.927
Adjusted R-squared: 0.916

In [46]:
vis_lm.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                 Results: Ordinary least squares
=================================================================
Model:              OLS              Adj. R-squared:     0.916
Dependent Variable: Viscosity        AIC:                137.5159
Date:               2021-10-06 15:28 BIC:                139.8337
No. Observations:   16               Log-Likelihood:     -65.758
Df Model:           2                F-statistic:        82.50
Df Residuals:       13               Prob (F-statistic): 4.10e-08
R-squared:          0.927            Scale:              267.60
-----------------------------------------------------------------
              Coef.   Std.Err.    t    P>|t|    [0.025    0.975]
-----------------------------------------------------------------
Intercept   1566.0778  61.5918 25.4267 0.0000 1433.0167 1699.1388
Temperature    7.6213   0.6184 12.3236 0.0000    6.2853    8.9573
Catalyst       8.5848   2.4387  3.5203 0.0038    3.3164   13.8533
-----------------------------------------------------------------
Omnibus:               1.215        Durbin-Watson:          2.607
Prob(Omnibus):         0.545        Jarque-Bera (JB):       0.779
Skew:                  -0.004       Prob(JB):               0.677
Kurtosis:              1.919        Condition No.:          1385
=================================================================
* The condition number is large (1e+03). This might indicate
strong multicollinearity or other numerical problems.
"""

## Your Turn -- Activity I: Murder rate model

In [47]:
murder_data = pd.read_excel('data/lect02-lin-reg.xlsx', sheet_name='State murder')
murder_data.describe(include='all')

         Murder    Population  Illiteracy       Income       Frost
count  50.00000     50.000000   50.000000    50.000000   50.000000
mean    7.37800   4246.420000    1.170000  4435.800000  104.460000
std     3.69154   4464.491433    0.609533   614.469939   51.980848
min     1.40000    365.000000    0.500000  3098.000000    0.000000
25%     4.35000   1079.500000    0.625000  3992.750000   66.250000
50%     6.85000   2838.500000    0.950000  4519.000000  114.500000
75%    10.67500   4968.500000    1.575000  4813.500000  139.750000
max    15.10000  21198.000000    2.800000  6315.000000  188.000000

In [48]:
murder_data.head()

   Murder  Population  Illiteracy  Income  Frost
0    15.1        3615         2.1    3624     20
1    11.3         365         1.5    6315    152
2     7.8        2212         1.8    4530     15
3    10.1        2110         1.9    3378     65
4    10.3       21198         1.1    5114     20

In [49]:
Y = murder_data.Murder
X = murder_data.drop('Murder', axis=1)
Xreg = sm.add_constant(X)

In [50]:
print(Y.head())
print(X.head())
print(Xreg.head())

0    15.1
1    11.3
2     7.8
3    10.1
4    10.3
Name: Murder, dtype: float64
   Population  Illiteracy  Income  Frost
0        3615         2.1    3624     20
1         365         1.5    6315    152
2        2212         1.8    4530     15
3        2110         1.9    3378     65
4       21198         1.1    5114     20
   const  Population  Illiteracy  Income  Frost
0    1.0        3615         2.1    3624     20
1    1.0         365         1.5    6315    152
2    1.0        2212         1.8    4530     15
3    1.0        2110         1.9    3378     65
4    1.0       21198         1.1    5114     20

In [51]:
murder_df = sm.OLS(Y, Xreg).fit()

In [52]:
print("Coefficients: ")
murder_df.params

Coefficients:

const         1.234563
Population    0.000224
Illiteracy    4.142837
Income        0.000064
Frost         0.000581
dtype: float64

In [53]:
from statsmodels.formula.api import ols

formula = 'Murder ~ Population + Illiteracy + Income + Frost -1'

murder_df = ols(formula, data=murder_data).fit()

In [54]:
# Making prediction

Xk = X.iloc[[5],:]  # Get row 6 (as dataframe) 
print(Xk)

Xreg_k = sm.add_constant(Xk, has_constant='add') 
print(Xreg_k)

Yk = np.array(murder_df.predict(exog=Xreg_k))
Yk

   Population  Illiteracy  Income  Frost
5        2541         0.7    4884    166
   const  Population  Illiteracy  Income  Frost
5    1.0        2541         0.7    4884    166

array([5.18516634])

In [55]:
print("Sum of Squared Errors (SSE): {:.2f}".format(murder_df.ssr)) # Sum of Squares Residuals
print("Sum of Squared Regression (SSR): {:.2f}".format(murder_df.ess)) # Explained sum of squares
print("Sum of Squared Total (SST): {:.2f}".format(murder_df.centered_tss)) # Total sum of squares
print("Residual df (n-p): {:.0f}".format(murder_df.df_resid))
print("Mean Squared errors (MSE): {:.2f}".format(murder_df.mse_resid))
print("Standard Errors (Se): {:.2f}".format(np.sqrt(murder_df.mse_resid)))

Sum of Squared Errors (SSE): 289.82
Sum of Squared Regression (SSR): 3099.67
Sum of Squared Total (SST): 667.75
Residual df (n-p): 46
Mean Squared errors (MSE): 6.30
Standard Errors (Se): 2.51

In [56]:
print("R-squared: {:.3f}".format(murder_df.rsquared))
print("Adjusted R-squared: {:.3f}".format(murder_df.rsquared_adj))

R-squared: 0.914
Adjusted R-squared: 0.907

In [57]:
murder_df.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                       Results: Ordinary least squares
==============================================================================
Model:                  OLS              Adj. R-squared (uncentered): 0.907
Dependent Variable:     Murder           AIC:                         237.7561
Date:                   2021-10-06 15:28 BIC:                         245.4042
No. Observations:       50               Log-Likelihood:              -114.88
Df Model:               4                F-statistic:                 123.0
Df Residuals:           46               Prob (F-statistic):          6.01e-24
R-squared (uncentered): 0.914            Scale:                       6.3005
----------------------------------------------------------------------------------
                  Coef.      Std.Err.       t        P>|t|       [0.025     0.975]
----------------------------------------------------------------------------------
Population        0.0002       0.0001     2.4938     0.0163      0.0000     0.0004
Illiteracy        4.3463       0.5928     7.3313     0.0000      3.1530     5.5397
Income            0.0003       0.0004     0.7150     0.4782     -0.0005     0.0010
Frost             0.0021       0.0088     0.2393     0.8119     -0.0156     0.0198
------------------------------------------------------------------------------
Omnibus:                   2.407            Durbin-Watson:               2.314
Prob(Omnibus):             0.300            Jarque-Bera (JB):            1.482
Skew:                      0.345            Prob(JB):                    0.477
Kurtosis:                  3.485            Condition No.:               11821
==============================================================================
* The condition number is large (1e+04). This might indicate
strong multicollinearity or other numerical problems.
"""

## Your Turn -- Activity II: Partial F-Test

In [58]:
shear_df = pd.read_excel('data/lect02-lin-reg.xlsx', sheet_name='Strength')
shear_df.head()

   Force  Power  Temperature  Time  Strength
0     30     60          175    15      26.2
1     40     60          175    15      26.3
2     30     90          175    15      39.8
3     40     90          175    15      39.7
4     30     60          225    15      38.6

### full_model

In [59]:
# Y = shear_df.Strength
# X = shear_df.drop(['Strength'], axis=1)
# Xreg = sm.add_constant(X)

In [60]:
formula = 'Strength ~ Temperature + Power'

full_model = ols(formula, data=shear_df).fit()

In [61]:
# full_model = sm.OLS(Y, Xreg).fit()

In [62]:
print("Sum of Squared Errors (SSE): {:.2f}".format(full_model.ssr)) # Sum of Squares Residuals
print("Sum of Squared Regression (SSR): {:.2f}".format(full_model.ess)) # Explained sum of squares
print("Sum of Squared Total (SST): {:.2f}".format(full_model.centered_tss)) # Total sum of squares
print("Residual df (n-p): {:.0f}".format(full_model.df_resid))
print("Mean Squared errors (MSE): {:.2f}".format(full_model.mse_resid))
print("Standard Errors (Se): {:.2f}".format(np.sqrt(full_model.mse_resid)))

Sum of Squared Errors (SSE): 732.04
Sum of Squared Regression (SSR): 1593.22
Sum of Squared Total (SST): 2325.26
Residual df (n-p): 27
Mean Squared errors (MSE): 27.11
Standard Errors (Se): 5.21

### reduced_model

In [63]:
Y1 = shear_df.Strength
X1 = shear_df.drop('Strength', axis=1)
Xreg1 = sm.add_constant(X1)

In [64]:
formula1 = 'Strength ~ Force + Temperature + Time + Power'

reduced_model = ols(formula1, data=shear_df).fit()

In [65]:
# reduced_model = sm.OLS(Y, Xreg1).fit()

In [66]:
print("Sum of Squared Errors (SSE): {:.2f}".format(reduced_model.ssr)) # Sum of Squares Residuals
print("Sum of Squared Regression (SSR): {:.2f}".format(reduced_model.ess)) # Explained sum of squares
print("Sum of Squared Total (SST): {:.2f}".format(reduced_model.centered_tss)) # Total sum of squares
print("Residual df (n-p): {:.0f}".format(reduced_model.df_resid))
print("Mean Squared errors (MSE): {:.2f}".format(reduced_model.mse_resid))
print("Standard Errors (Se): {:.2f}".format(np.sqrt(reduced_model.mse_resid)))

Sum of Squared Errors (SSE): 665.12
Sum of Squared Regression (SSR): 1660.14
Sum of Squared Total (SST): 2325.26
Residual df (n-p): 25
Mean Squared errors (MSE): 26.60
Standard Errors (Se): 5.16

In [67]:
F0 = ((full_model.ssr - reduced_model.ssr)/2) / full_model.mse_resid
F0

1.2341709901890905

In [68]:
from scipy import stats
stats.f.sf(F0,2,25)

0.30820844686613874